<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "kr.yi.spms.dao.SpmsDao">
	<select id="selectList" resultType="Spms">
		select * from spms order by sp_no desc
	</select>
	<select id="selectListPage" resultType="Spms">
		select * from spms order by sp_no desc 
		limit #{startRow},#{size}
	</select>
	
	<select id="selectTotalCount" resultType="int">
		select count(sp_no) from spms
	</select>
	
	<select id="selectBySpmsNo" resultType="spms">
	select * from spms where sp_no = #{sp_no}
	</select>
	
	<delete id="deleteSpms">
	delete from spms where sp_no = #{sp_no}
	</delete>
	
	<insert id="insertSpms" >
	INSERT INTO spms
	( sp_name, content, startdate, enddate, status)
		values
		(#{sp_name}, #{content}, #{startdate}, #{enddate},  #{status})
	
	</insert>
</mapper>



